doctype html
html(lang="en")
  head
    title= Boom
  body
    h1 Jade - node template engine
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")