extends ./layout.pug

block content
  .page-header
    h2 Real-Time Text Sentiment Analysis
    small Type some text or paste a URL into the input field.
  .row
    .col-sm-6
      ul#messages.list-group
      #new-message.panel.panel-info
        form
          .input-group
            input.form-control(type="text" id="message-input" placeholder="Enter your message or URL here.")
            span.input-group-btn
              input.btn.btn-info(type="submit" value="Submit")
    .col-sm-6